<footer class="footer">
  <div class="footer-container">
    <div class="footer-links">
      <a href="https://github.com/Maverickto11" target="_blank">
        <img src="/assets/iconosRedes/github-blanco.png" alt="GitHub Icon">
      </a>
      <a href="https://wa.me/962581438" target="_blank">
        <img src="/assets/iconosRedes/whatsapp-blanco.png" alt="WhatsApp Icon">
      </a>
      <a href="mailto:maverickcordova21@gmail.com">
        <img src="/assets/iconosRedes/gmail-blanco.png" alt="Email Icon">
      </a>
    </div>
    <p class="footer-copy">&copy; 2024 Maverick Cordova Bustos. Todos los derechos reservados.</p>
    <p class="footer-tech" style="font-size: 12px;"><em>Proyecto realizado con Angular</em></p>
  </div>

</footer>