<section class="contact-section">
    <div class="container">
      <div class="text-center">
        <h2>Contacto</h2>
        <p>
            No dudes en contactarme a través de cualquiera de las plataformas abajo. ¡Siempre estoy dispuesto a conversar sobre nuevas oportunidades y proyectos!
        </p>
      </div>
      <div class="contact-grid">
        <a href="https://wa.me/1234567890" class="contact-card" target="_blank">
          <img class="icon" src="/assets/iconosRedes/whatsapp.png" fill="none" stroke="currentColor">
          <h3>WhatsApp</h3>
          <p>¡Haz clic para enviarme un mensaje directo en WhatsApp!</p>
        </a>
  
        <a href="mailto:your-email@example.com" class="contact-card" target="_blank">
            <img class="icon" src="/assets/iconosRedes/gmail.png" fill="none" stroke="currentColor">
          <h3>Email</h3>
          <p>¡Haz clic para enviarme un correo electrónico directamente!</p>
        </a>
  
        <a href="https://www.linkedin.com/in/your-profile/" class="contact-card" target="_blank">
            <img class="icon" src="/assets/iconosRedes/linkedin.png" fill="none" stroke="currentColor">

          <h3>LinkedIn</h3>
          <p>¡Haz clic para ver mi perfil de LinkedIn!</p>
        </a>
  
        <a href="https://github.com/your-profile" class="contact-card" target="_blank">
            <img class="icon" src="/assets/iconosRedes/github.png" fill="none" stroke="currentColor">

          <h3>GitHub</h3>
          <p>¡Haz clic para ver mis repositorios de GitHub!</p>
        </a>
      </div>
    </div>
  </section>