<div class="contenedor">
    <div class="titulo">
        <h1>Acerca de mí</h1>
    </div>
</div>

<div class="img">
    <div class="left-section">
        <img class="img-foto" src="/assets/img/Maverick.png" alt="Foto de Maverick">
        <div class="icons">
            <a href="" target="_blank"><img class="img-icono" src="/assets/img/github.png" alt="GitHub"></a>
            <a href="" target="_blank"><img class="img-icono" src="/assets/img/linkedin.png" alt="LinkedIn"></a>
        </div>
    </div>
    <div>

    </div>
    <div class="contenedorMi">
        <p>Soy un desarrollador web especializado en la creación de aplicaciones completas desde el diseño de interfaces hasta la implementación de lógica en el servidor. Tengo experiencia en bases de datos y en el despliegue de aplicaciones, asegurando un rendimiento óptimo y una experiencia de usuario fluida. Además, domino el control de versiones a través de Git y utilizo Power BI para el análisis de datos, lo que me permite tomar decisiones informadas basadas en métricas.</p>

        <!-- Experience section -->
        <div class="experience">
            <div><strong style="color: #2c3b4e; font-size: 30px;">+5</strong><br>Proyectos<br> <span style="font-size: 12px; color: rgb(168, 168, 168);">  completados</span></div>
            <div><strong style="color: #2c3b4e; font-size: 30px;">+1</strong><br>Trabajando<br> <span style="font-size: 12px; color: rgb(168, 168, 168);">  en compañías</span></div>
        </div>

        <!-- Download CV button -->
        <button class="cv-button">Descargar CV</button>
    </div>
</div>
