@import url(//fonts.googleapis.com/css?family=Lato:300:400);

body {
  margin:0;
  
}

.parrafo{

  display: block;
  font-weight:300;
  letter-spacing: 2px;
  font-size:24px;
  
  font-size: 16px;
  margin-top: 10px; /* Añade un poco de espacio arriba si lo deseas */
}

.parrafo p{
  display: block;
  color: rgb(255, 255, 255);
  font-family: 'Lato', sans-serif;
  font-weight: bold;


}

.text-animate {
    font-family: monospace;
    white-space: nowrap;
    font-size: 50px;
    overflow: hidden; /* Esconde el texto que excede el contenedor */

}

.cursor {
    display: inline-block; /* Para permitir que el cursor se mueva con el texto */
    animation: blink 1s step-end infinite; /* Animación de parpadeo */
  
}

/* Animación de parpadeo */
@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}



.header {
  position:relative;
  text-align:center;
  background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
  color:white;
  
}

.logo {
  width:50px;
  fill:white;
  padding-right:15px;
  display:inline-block;
  vertical-align: middle;
}

.inner-header {
  height:65vh;
  width:100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; /* Para que se apilen verticalmente */
  align-items: center;



}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;

  }
  .content {
    height:30vh;

  }
  .text-animate {
    font-size:25px;
    white-space: pre-wrap;
  }
  .parrafo{
    width: 50%;
    font-size: 15px;

  }
  p{
    font-size: 15px;

  }
}


/***************************************************************************************/
